ody {
	margin: 0;
	padding: 0;
	font-family: georgia, times, serif;
	font-size: 15px;
}

div {
	margin: 0;
	padding: 0;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

#content {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

#main {
	width: 480px; |
	float: left;
}

#cart {
	width: 220px;
	float: right;
}

#header {
	width: 100%;
	height: 150px;
	background: url(logo.png) center no-repeat;
}

#header h1 {
	display: none;
}